*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 2.5rem;
    font-family: 'myfont';
    color: #e60000;
    margin-bottom: 20px;
    margin-top: 60px;
}
.btn {
    align-items: center;
    margin-left: 700px;
    display: inline-block;
    padding: 15px 30px;
    background-color: #c90101;
    color: #fff;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
    transition: ease-in-out 0.3s;
}
.btn:hover {
    background-color: #fcfcfc;
    color: #ff0000;
    border: 2px solid #ff0000;

}
@media screen and (max-width: 900px){
    .btn{
        margin-left: 150px;
    }
    
}